<div class="container">
    <h1 *ngIf="loan.id == null">Crear prestamo</h1>
    <h1 *ngIf="loan.id != null">Modificar prestamo</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="loan.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select [(ngModel)]="loan.client" name="client" required>
                <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
            </mat-select>
            <mat-error>El cliente no puede estar vacío</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Juego</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.game" name="game" required>
                <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
            </mat-select>
            <mat-error>El juego no puede estar vacio</mat-error>
        </mat-form-field>

        <mat-label>Fecha inicio</mat-label>
        <mat-form-field>
            
            <input type="date" matInput  [(ngModel)]="loan.startDate" name="startDate" required>
            <mat-error>La fecha no puede estar vacia</mat-error>
        </mat-form-field>
        <mat-label>Fecha Fin</mat-label>
        <mat-form-field>
            
            <input type="date" matInput  [(ngModel)]="loan.endDate" name="endDate" required>
            <mat-error>La fecha no puede estar vacia</mat-error>
        </mat-form-field>
        <ng-container *ngIf="errorSavingLoan">
            <div class="alert alert-danger" style="color: red;">{{ errorSavingLoan }}</div>
          </ng-container>
        
        
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>